<div class="background">
    <div class="container">
      <div class="row">
        <div class="col-12 text-right">
          <a routerLink="/homepage" class="return-link">&lt;&lt; Return to homepage</a>
        </div>
      </div>
      <h1 class="mt-4">Catégories :</h1>
      <div class="row">
        <div class="col-md-3" *ngFor="let category of categories">
          <div class="category">
            <a routerLink="/{{ category.nomcategorie }}">
              <img [src]="category.link_img" alt="{{ category.nomcategorie }}">
              <div class="overlay"></div>
              <div class="category-info">
                <h5>{{ category.nomcategorie }}</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>