<div class="background">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12 text-right">
                <a routerLink="/categories" class="return-link">&lt;&lt; Return to Catégories</a>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-3" *ngFor="let book of comicBooks">
                <div class="card">
                    <img [src]="book.link_image" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.titre }}</h5>
                        <p class="card-text">
                            Auteur: {{ book.auteur }}<br>
                            Genre: {{ book.nomcategorie }}<br>
                            Disponibilité: {{ book.disponibilite }}<br>
                        </p>

                        <div class="btn-group btn-group-space-between" role="group" aria-label="Card Actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <a [href]="book.pdf_link" class="btn btn-primary">Read</a>
                                </div>
                                <div class="col-md-6">
                                    <a (click)="handleBookEmprunt(book.disponibilite)" class="btn btn-primary">Emprunter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <p class="message">We will add more comic books soon.</p>
                </div>
            </div>
        </div>
    </footer>
</div>
