<div class="emprunter-notok-container">
    <div class="emprunter-notok-content">
        <div class="emojis">
            <img src="../../assets/images/Sad-Emoji-PNG-1-758x473.jpg" alt="Sad Emoji" class="emoji"> <!-- Sad emoji on the left -->
            <h2>Indisponibilité</h2>
            <img src="../../assets/images/Sad-Emoji-PNG-1-758x473.jpg" alt="Sad Emoji" class="emoji"> <!-- Sad emoji on the right -->
        </div>
        <p>Toutes les copies de ce livre sont déjà empruntées pour le moment. Veuillez réessayer plus tard.</p>
        <p>Explorez notre large sélection de livres et trouvez celui qui vous convient le mieux. Nous sommes enchantés que vous ayez choisi notre plateforme pour vos lectures.</p>
        <div class="action-buttons">
            <button class="btn" routerLink="/homepage">Parcourir les Livres</button>
        </div>
    </div>
</div>
